{% extends 'todo/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container "  align='center'>
<br>
<br>
<p class="card-text"><h3>Theme:</h3> {{theme}}</p>
<p class="card-text"><h3>Percentage:</h3> {{percent}}%</p>
<br>
<br>
<br>
<br>
</div>
{% if percent <= 50 %}
<div class="container "  align='center'>
<img src="{% static 'todo/rien.jpg' %}">
</div>
<br>
<br>
<br>
<br>
{% else %}
<div class="container "  align='center'>
<img src="{% static 'todo/gg.jpg' %}">
</div>
<br>
<br>
<br>
<br>

 {% endif %}
 


{% endblock %}  